@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
/* universal styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

/* variable Declaration */
:root {
  --purple: #333;
  --thirty-percent: #2cd3e1;
  --ten-percent: #080202;
  --hsl-thirty: hsl(185,75%,63%);
 
}

html,
body {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  width: 100vw;
  background-color: var(--purple);
  color: white;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

/* root styling */
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* //generel styling */
::-webkit-scrollbar{
  display: none;
}


.container {
  width: 100%;
}

.sub-container {
  width: 70%;
  margin: 0 auto;
 
}

.btn {
  font-size: 16px;
  font-weight: 900;
  padding: 8px;
  border-radius: 10px;
  width: max-content;
  background-color: var(--ten-percent);
  color: var(--thirty-percent);
  outline: none;
  border: none;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--sixty-percent);
}

.accent {
  color: var(--thirty-percent);
}

.input-area {
  width: 200px;
  font-size: 16px;
  padding: 10px;
  border: 3px solid var(--thirty-percent);
}

.dottedborder-box {
  width: 40%;
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  border: 3px dotted var(--thirty-percent);
}


/* media queries for mobile phones */

@media (max-width: 475px) {
  .sub-container {
    width: 95%;
    margin: 0px auto;
  }

  .dottedborder-box {
    width: 100%;
  }
}





